
.sidenav {
  height: calc(100vh - 144px);
  width: 400px;
  overflow-x: hidden;
  z-index: 1;

  background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.12) -8px 0px 40px 0px;
  transition: 0.5s;

	position: fixed;
	right: 0px;
	top: 144px;

	overflow: hidden;

	// closed
	transform: translateX(400px);

	&.opened {
		transform: translateX(0px);
	}
}
